DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=mailservice
DB_PASSWORD=mailservice
DB_DATABASE=mailservice

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

BACKEND_JWT_SECRET=test
BACKEND_DKIM_SECRET=test

SMTP_USER=
SMTP_PASSWORD=
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURED=false

ADMIN_EMAIL=admin@example.com

BOUNCE_ADDRESS=bounces@example.com
IMAP_HOST=localhost
IMAP_PORT=3143
IMAP_SECURE=false
IMAP_USER=bounces@example.com
IMAP_PASSWORD=test
